<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Js</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <h1>Welcome to the most awesome website on the net</h1>
    <h2>Welcome to contact page</h2>
    <!-- <p><%= qs.dept %>, <%= qs.person %></p> -->

    <form id="contact-form" method="POST" action="/contact">
      <label for="who">Who do ypou want to contact?</label>
      <input type="text" name="who" value="<%= qs.person %>" />

      <label for="department">Which department?</label>
      <input type="text" name="department" value="<%= qs.dept %>" />

      <label for="email">Your email address</label>
      <input type="text" name="email" />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
