<%- include('partials/header.ejs')%>
    <main class="form-signin w-100 m-auto">
      <h2><%= data %></h2>
      <small style="color: crimson">Seems you on the wrong page!</small>
      <a href="/"><p>Home</p></a>
    </main>
 <%- include('partials/footer.ejs')%>

