<%- include('partials/header.ejs') %>
<main class="form-signin w-100 m-auto">
  <form method="POST">
    <img class="mb-4" src="images/logo.png" alt="" width="72" />
    <h1 class="h3 mb-3 fw-normal">Newsletter Sign Up</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control top"
        id="floatingInput"
        placeholder="name@example.com"
        autofocus
        name="firstname"
      />
      <label for="floatingInput">FirstName</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control middle"
        id="floatingInput"
        placeholder="Lastname"
        name="lastname"
      />
      <label for="floatingInput">LastName</label>
    </div>
    <div class="form-floating">
      <input
        type="email"
        class="form-control bottom"
        id="floatingPassword"
        placeholder="Password"
        name="email"
      />
      <label for="floatingPassword">Email</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; Timmystroge</p>
  </form>
</main>
<%- include('partials/footer.ejs') %>
