<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.111.3" />
    <title>Timmystroge Newsletter</title>
    <link rel="stylesheet" href="css/bootstrap5.min.css" />

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <h2>Thank You for your response!</h2>
    </main>
  </body>
</html>

