body {
    background: skyblue;
    font-family: verdana;
    color: #fff;
    padding: 30px;
  }
  h1 {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  p {
    font-size: 16px;
    text-align: center;
  }

  ul li {
    text-align: center;
    color: red;
    text-transform: capitalize;
    list-style-type: none;
    margin: .3rem 0;
  }

  form{
    width: 30%;
    margin: 0  auto;
  }

  input[type=text]{
    display: block;
    padding: .5rem .3rem;
    width: 100%;
    margin: 1rem 0;
    outline: none;
    border: none;
  }

  input[type=submit] {
    display: inline-block;
    padding: .6rem;
    border: none;
    cursor: pointer
  }